main {
    display: grid;
    height: 100%;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 10% 1fr 10%;
    grid-template-areas: "header nav nav" "section section aside" "footer footer footer"; 
    /*grid-template-areas: "footer footer footer" "header section aside" "nav nav ";*/
    /* haz otras distribuciones */
}

header {
    grid-area: header;
    background: blueviolet;
    color: white;
}

nav {
    grid-area: nav;
    background: deeppink;
    color: white;
}

section {
    grid-area: section;
    background: white;
}

aside {
    grid-area: aside;
    background: purple;
    color: white;
}

footer {
    grid-area: footer;
    background: palevioletred;
    color: white;
    grid-column: span 3;
    /*ocupa 2  columnas desde cualquier sitio que empieces */
    /* también 1/3 */
}